/* Alapstílusok */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fejléc stílusok */
  header {
    background-color: burlywood;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  /* Lábléc stílusok */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  /* Grid elrendezés - alapértelmezett 1 oszlop */
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  /* Tabletes nézet */
  @media (min-width: 600px) {
    main {
      grid-template-columns: 2fr 1fr;
    }
  }
  
  /* Normál nézet - 3 oszlop */
  @media (min-width: 1024px) {
    main {
      grid-template-columns: 2fr 1fr 1fr;
    }
  }